<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <!--<a href="images/avatar.jpg"><img src="images/avatar-small.jpg" alt="my photo" class="avatar" itemprop="image"></a>-->
        <img src="images/avatar2.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p align="justify">Hello world! I am a soon-to-defend graduate student and <a href="http://npsc.org/">National Physical Science Consortium Fellow</a> in the <a href="http://www.mps.mpg.de/sage">Stellar Ages & Galactic Evolution</a> (SAGE) group at the <a href="http://www.mps.mpg.de/en">Max Planck Institute for Solar System Research</a> and the <a href="http://astronomy.yale.edu/">Department of Astronomy at Yale University</a>.</p> 
          <p align="justify">My research focuses on developing artificial intelligence for the sciences. My specialization is in stellar astrophysics, and in particular, the study of variable stars. These stars are fascinating because they can be used to solve all kinds of problems, ranging from testing theories of fundamental physics to measuring the size and age of the Universe.</p> 
            <!--I have published in journals of astrophysics such as <i>The Astrophysical Journal</i>, <i>Monthly Notices of the Royal Astronomical Society</i>, and <i>Astrophysics & Space Science</i> as well as on topics in bioinformatics, analytic chemistry, and interplanetary networking.</p> <!--measuring fundamental aspects of our universe, such as its age and its size, through the study of variable stars. My interests include variable stars, machine learning, and the history and philosophy of science.</p>-->
          <p align="justify">I have done research at several national and international laboratories including <a href="https://www.jpl.nasa.gov/">NASA</a>, <a href="https://www.nist.gov/itl">NIST</a>, and the <a href="http://www.nii.ac.jp/en/">Japanese National Institute of Informatics</a>. I enjoy teaching and have had the privilege to assist in teaching and supervising undergraduate and graduate students in computer science and astrophysics at several universities in the USA and in Germany.</p>
          <p align="justify">In my free time, I like playing the guitar, bass, drums, and other instruments as well as <a href="http://soundcloud.com/earlbellinger">composing and recording music</a> and performing with my band, MegaGauß. I also love learning languages&mdash;and I've studied more than 30<dfn title="Exclamation mark, not factorial" style="border-bottom: 1px dotted black; font-style: normal;">!</dfn></p>
        </div>

        <div align="center">
          <table>
            <tr>
              <td>
                <!-- <a href="https://github.com/earlbellinger/earlbellinger.github.io/blob/master/Bellinger-resume-2017-07.pdf" class="contact-button" target="new">Résumé</a> -->
                <a href="{{ site.baseurl }}/resume.pdf" class="contact-button" target="_blank">Résumé</a>
              </td>
              <td>
                &nbsp;&nbsp;&nbsp;
              </td>
              <td>
                <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact</a>
              </td>
            </tr>
          </table>
        </div>

      </header>

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Ph.D. Candidate, Astrophysics</h3>
          <h4 class="resume-item-details" itemprop="description">International Max Planck Research School &bull; 2015 &mdash; present<br />(expected June 2018)</h4>
         <p class="resume-item-copy">
                &nbsp;&bull; Max Planck Institute for Solar System Research, Göttingen, Germany<br/>
                &nbsp;&bull; Department of Astronomy, Yale University, New Haven, CT, USA<br/>
                &nbsp;&bull; Institute of Computer Science, University of Göttingen, Germany<br />
                <!--Advised by Dr. ir. Saskia Hekker<sup>1</sup>, Prof. Dr. Sarbani Basu<sup>2</sup>, Dir. Prof. Dr. Laurent Gizon<sup>1</sup>, and<br />
                &nbsp;&nbsp;&nbsp;&nbsp;Prof. Dr. Ramin Yahyapour<sup>3</sup><br />-->
                Fellow of the National Physical Science Consortium<br />
                <b>Thesis Topic</b>: <i>Asteroseismic Inversions of Solar-like Oscillators</i>
          </p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">M.Sc., Computer Science</h3>
          <h4 class="resume-item-details" itemprop="description">Indiana University, Bloomington, IN, USA &bull; 2012 &mdash; 2014</h4>
          <p class="resume-item-copy"><!-- Advised by Prof. Dr. Predrag Radivojac and Prof. Dr. Haixu Tang<br />-->
                                      School of Informatics and Computing (Minor in Bioinformatics)<br />
                                	    Fellow of the National Physical Science Consortium<br />
                                      GPA: 3.94/4.0</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">B.Sc. Applied Mathematics, B.Sc. Computer Science</h3>
          <h4 class="resume-item-details" itemprop="description">State University of New York at Oswego, USA &bull; 2008 &mdash; 2012</h4>
          <p class="resume-item-copy"><!--Advised by Prof. Dr. Shashi Kanbur and Prof. Dr. Steven Reyner<br />-->
                                	    Honors Thesis: <i>Multiphase Relations of Magellanic Cloud Cepheids</i><br />
                                      GPA: 3.81/4.0 (<i>summa cum laude</i>, ranked #1 in computer science)</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}


      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Research Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          
          <h3 class="resume-item-title" itemprop="name">Universities</h3>
          
          <p class="resume-item-copy">
            <b>Yale University</b> (2016 &mdash; 2017) <br />
            Visiting Assistant in Research, New Haven, CT, USA <br />
            <i>Asteroseismic inversions of solar-like stars</i>
          </p>
          
          <p class="resume-item-copy">
            <b>Indiana University Bloomington</b> (2013 &mdash; 2015) <br />
            Research Assistant, Bloomington, IN, USA <br />
            <i>Protein inference and quantification from tandem mass spectrometry</i>
          </p>
          
          <p class="resume-item-copy">
            <b>Federal University of Alagoas</b> (Summer 2011) <br />
            Research Student, Physics Institute, Maceió, Brazil <br />
            <i>Dynamics of interacting electrons in disordered systems</i>
          </p>
          
          <p class="resume-item-copy">
            <b>Federal University of Santa Catarina</b> (Summer 2010) <br />
            Research Student, Florianópolis, Brazil <br />
            <i>Multiphase relations of Magellanic Cloud Cepheids</i>
          </p>
          
          <p class="resume-item-copy">
            <b>Federal University of Santa Caratina</b> (Summer 2010) <br />
            IRES/NSF Research Student, Itajubá, Brazil <br />
            <i>Chimera: an automated observatory system</i>
          </p>
          
          <br />
          
          <h3 class="resume-item-title" itemprop="name">National Laboratories</h3>
          
          <p class="resume-item-copy">
            <b>[MPS] Max Planck Institute for Solar System Research</b> (2015 &mdash; present) <br />
            Ph.D. Candidate, Stellar Ages & Galactic Evolution Group, Göttingen, Germany <br />
            <i>Fundamental stellar parameters in an instant with machine learning</i>
          </p>
          
          <p class="resume-item-copy">
            <b>[NIST] National Institute of Standards and Technology</b> (Summers 2013, 2014, 2017) <br />
            Guest Researcher, Information Technology Laboratory, Gaithersburg, MD, USA <br />
            <i>HydratiCA Information Discoverer (HIDE), a data mining tool for 3D chemical simulations</i>
          </p>
          
          <p class="resume-item-copy">
            <b>[NII] National Institute of Informatics</b> (Spring 2013) <br />
            Research Student, National Center of Sciences, Tokyo, Japan <br />
            <i>Asynchronous updating in elementary cellular automata with stochastic perturbations</i>
          </p>
          
          <p class="resume-item-copy">
            <b>[NASA] National Aeronautics and Space Administration</b> (Summer 2012) <br />
            Summer Research Fellow, Jet Propulsion Laboratory (JPL), Pasadena, CA, USA <br />
            <i>CASSIUS, a communication tool for the Cassini mission to Saturn</i>
          </p>
      </div>
      </section>
      <!-- end Experience -->
      {% endif %}


      {% if site.resume_section_teaching %}
      <!-- begin Teaching -->
      <section class="content-section">

        <header class="section-header">
          <h2>Teaching Experience</h2>
        </header>

        <p class="resume-item-copy">
            <b>Yale University</b> (Spring 2017) <br />
            Teaching Assistant, Department of Astronomy <br />
            <i>ASTR 550 &mdash; Stellar Astrophysics</i>
        </p>
        
        <p class="resume-item-copy">
            <b>Georg-August-Universität Göttingen</b> (Summer 2016) <br />
            Assistant, Institut für Astrophysik <br />
            <i>M.Phy.552 &mdash; Numerical Experiments in Stellar Physics</i>
        </p>
        
        <p class="resume-item-copy">
            <b>Indiana University Bloomington</b> (Fall 2012) <br />
            Associate Instructor, School of Informatics and Computing <br />
            <i>CSCI-C211/A591 &mdash; Introduction to Computer Science</i>
        </p>
        
        <p class="resume-item-copy">
            <b>SUNY Oswego</b> (Fall 2010) <br />
            Seminar Leader, Honors Program <br />
            <i>HON 150 &mdash; Introduction to Honors</i>
        </p>
      </section>
      <!-- end Teaching -->
      {% endif %}


      {% if site.resume_section_publications %}
      <!-- begin Publications -->
      <section class="content-section">
        
        <header class="section-header">
          <h2>Publications</h2>
        </header>

        <div class="resume-item">
          <p class="resume-item-copy">
            <a href="https://scholar.google.com/citations?user=Woj_Tu4AAAAJ">Google Scholar</a> | 
            <a href="http://adsabs.harvard.edu/cgi-bin/nph-abs_connect?db_key=AST&db_key=PRE&qform=AST&arxiv_sel=astro-ph&arxiv_sel=cond-mat&arxiv_sel=cs&arxiv_sel=gr-qc&arxiv_sel=hep-ex&arxiv_sel=hep-lat&arxiv_sel=hep-ph&arxiv_sel=hep-th&arxiv_sel=math&arxiv_sel=math-ph&arxiv_sel=nlin&arxiv_sel=nucl-ex&arxiv_sel=nucl-th&arxiv_sel=physics&arxiv_sel=quant-ph&arxiv_sel=q-bio&sim_query=YES&ned_query=YES&adsobj_query=YES&aut_logic=OR&obj_logic=OR&author=Bellinger%2C+Earl&object=&start_mon=&start_year=&end_mon=&end_year=&ttl_logic=OR&title=&txt_logic=OR&text=&nr_to_return=200&start_nr=1&jou_pick=ALL&ref_stems=&data_and=ALL&group_and=ALL&start_entry_day=&start_entry_mon=&start_entry_year=&end_entry_day=&end_entry_mon=&end_entry_year=&min_score=&sort=SCORE&data_type=SHORT&aut_syn=YES&ttl_syn=YES&txt_syn=YES&aut_wt=1.0&obj_wt=1.0&ttl_wt=0.3&txt_wt=3.0&aut_wgt=YES&obj_wgt=YES&ttl_wgt=YES&txt_wgt=YES&ttl_sco=YES&txt_sco=YES&version=1">ADS</a> | 
            <a href="https://orcid.org/0000-0003-4456-4863" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0003-4456-4863</a>
            <br />
            number of publications = 16 | 
            number of citations = 55 | 
            h-index = 4
            <br />
            Erdös number = 3 (via Steven Reyner & Bennet Manvel)
          </p>
          <br />
          
          <h3 class="resume-item-title">Refereed Articles</h3>
          <p class="resume-item-copy">
            <!--<ol reversed>-->
              <!--<li type="a"><b>Bellinger, E. P.</b>, Davies, G. R., Kanbur, S. M., Bhardwaj, A., Basu, S., Hekker, S. (2017). Correcting Cepheid periods for Doppler shift: 1000σ deviations and their impact on the Hubble constant. <i>Monthly Notices of the Royal Astronomical Society</i>, submitted.</li><br />-->
            <!--</ol>-->
            <ol reversed>
              <li><b>Bellinger, E. P.</b>, Basu, S., Hekker, S., Ball, W. (2017). <a href="http://adsabs.harvard.edu/abs/2017ApJ...851...80B">Model-independent Measurement of Internal Stellar Structure in 16 Cygni A and B</a>. <i>The Astrophysical Journal</i>, 851 (2), 80.</li><br />
              <li>Guggenberger, E., Hekker, S., Basu, S., Angelou, G. C., <b>Bellinger, E. P.</b> (2017). <a href="http://adsabs.harvard.edu/abs/2017MNRAS.470.2069G">Mitigating the mass dependence in the Δν scaling relation of red-giant stars</a>. <i>Monthly Notices of the Royal Astronomical Society</i>,  470 (2), doi: 10.1093/mnras/stx1253.</li><br />
              <li>Angelou, G. C., <b>Bellinger, E. P.</b>, Hekker, S., Basu, S. (2017). <a href="http://adsabs.harvard.edu/abs/2017ApJ...839..116A">On the Statistical Properties of the Lower Main Sequence</a>. <i>The Astrophysical Journal</i>, 839 (2), 116.</li><br />
              <li><b>Bellinger, E. P.</b>, Angelou, G. C., Hekker, S., Basu, S., Ball, W., Guggenberger, E. (2016). <a href="http://adsabs.harvard.edu/abs/2016ApJ...830...31B">Fundamental Parameters of Main-Sequence Stars in an Instant with Machine Learning</a>. <i>The Astrophysical Journal</i>, 830 (1), 20.</li><br />
              <li>Guggenberger, E., Hekker, S., Basu, S., <b>Bellinger, E. P.</b> (2016). <a href="http://adsabs.harvard.edu/abs/2016MNRAS.460.4277G">Significantly improving stellar mass and radius estimates: A new reference function for the Δν scaling relation</a>. <i>Monthly Notices of the Royal Astronomical Society</i>, 461 (2), doi: 10.1093/mnras/stw1326.</li><br />
              <li>Glover, M., <b>Bellinger, E. P.</b>, Radivojac, P., Clemmer, D. (2015). <a href="http://www.ncbi.nlm.nih.gov/pubmed/26192015">Penultimate Proline in Neuropeptides</a>. <i>Analytic Chemistry</i>, 87 (16), 8466–8472, doi: 10.1021/acs.analchem.5b01889.</li><br />
              <li>Ji, C., Li, Y. F., <b>Bellinger, E. P.</b>, Li, S., Arnold, R. J., Radivojac, P., Tang, H. (2015). <a href="http://dl.acm.org/citation.cfm?id=2808750">A maximum-likelihood approach to absolute protein quantification in mass spectrometry</a>. In refereed proceedings of the <i>6th ACM Conference on Bioinformatics, Computational Biology and Health Informatics</i> (pp. 296-305).</li><br />
              <li>Ngeow, C. C., Kanbur, S. M., <b>Bellinger, E. P.</b>, Marconi, M., Musella, I., Cignoni, M., & Lin, Y. H. (2012). <a href="http://adsabs.harvard.edu/abs/2012Ap%26SS.341..105N">Period-luminosity relations for Cepheid variables: from mid-infrared to multi-phase</a>. <i>Astrophysics and Space Science</i>, 341(1), 105-113, doi: 10.1007/s10509-012-1018-5.</li><br />
            </ol>
          </p>

          <h3 class="resume-item-title">Conference Proceedings</h3>
          <!--<h4 class="resume-item-details">Conference Proceedings</h4>-->
          <p class="resume-item-copy">
            <!--<ol reversed>-->
                <!--<li type="a">-->
            <!--</ol>-->
            <ol reversed>
              <li><b>Bellinger, E. P.</b>, Angelou, G. C., Hekker, S., Basu, S., Ball, W., Guggenberger, E. (2017). <a href="http://adsabs.harvard.edu/abs/2017EPJWC.16005003B">Fundamental Parameters in an Instant with Machine Learning: Application to Kepler LEGACY Targets</a>. <i>Seismology of the Sun and Distant Stars</i>, EPJ Web of Conferences, Volume 160, id.05003.</li><br />
              <li>Hekker, S., Elsworth, Y., Basu, S., <b>Bellinger, E. P.</b> (2017). <a href="http://adsabs.harvard.edu/abs/2017EPJWC.16004006H">Evolutionary states of red-giant stars from grid-based modelling</a>. <i>Seismology of the Sun and Distant Stars</i>, EPJ Web of Conferences, Volume 160, id.04006.</li><br />
              <li><b>Bellinger, E. P.</b>, Wysocki, D., Kanbur, S. M. (2015). <a href="http://adsabs.harvard.edu/abs/2016CoKon.105..101B">Measuring amplitudes of harmonics and combination frequencies in variable stars</a>. <i>Communications from the Konkoly Observatory of the Hungarian Academy of Sciences</i>, 105.</li><br />
              <li><b>Bellinger, E. P.</b>, Kanbur, S. M., & Ngeow, C. C. (2012). <a href="https://static-content.springer.com/esm/chp%3A10.1007%2F978-3-642-29630-7_53/MediaObjects/299986_1_En_53_MOESM13_ESM.pdf">New insights into the Cepheid PL Relation through the use of multiphase relations</a>. <i>Proceedings of the 20th Stellar Pulsations Conference</i>.</li><br />
              <li>Reyner, S., <b>Bellinger, E. P.</b>, & Kanbur, S. M. (2012). <a href="https://static-content.springer.com/esm/chp%3A10.1007%2F978-3-642-29630-7_53/MediaObjects/299986_1_En_53_MOESM44_ESM.pdf">The approximation of RR Lyrae and eclipsing binary light curves using cubic polynomials</a>. <i>Proceedings of the 20th Stellar Pulsations Conference</i>.</li><br />
              <li><b>Bellinger, E. P.</b> (2012). <a href="http://www.ncurproceedings.org/ojs/index.php/NCUR2012/article/view/300">Multiphase Relations of Magellanic Cloud Cepheids</a>. <i>Proceedings of the 2012 National Conference on Undergraduate Research</i>.</li><br />
              <li><b>Bellinger, E. P.</b>, Kanbur, S. M., & Ngeow, C. C. (2011). <a href="http://aspbooks.org/custom/publications/paper/451-0311.html">Multiphase Comparison of Period-Luminosity Relations for Magellanic Cloud Cepheids</a>. <i>Proceedings of the 9th Pacific Rim Conference on Stellar Astrophysics</i> (Vol. 451, p. 311).</li><br />
            </ol>
          </p>

          <h3 class="resume-item-title">Technical Reports</h3>
          <!--<h4 class="resume-item-details">Conference Proceedings</h4>-->
          <p class="resume-item-copy">
            <ol reversed>
              <li><b>Bellinger, E. P.</b>, Conner, D., Mittman, D., Magee, K., & Heventhal, B. (2012). <a href="http://hdl.handle.net/2014/43122">CASSIUS: the Cassini Uplink Scheduler</a>. <i>Jet Propulsion Laboratory: National Aeronautics and Space Administration</i>, hdl:2014/43122.</li>
            </ol>
          </p>
        </div>

        <div class="resume-item">
          <!--<h3 class="resume-item-title"></h3>
          <h4 class="resume-item-details"></h4>-->
          <p class="resume-item-copy"></p>
        </div>

      </section>
      <!-- end Publications -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Languages</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Computer</h3>

          <p class="resume-item-copy">
            <b>Expertise</b>: R, Python, Bash, LaTeX, HTML, CLISP, Scheme, Java, MATLAB
          </p>

          <p class="resume-item-copy">
            <b>Proficiency</b>: C, Javascript, Perl, SQL, FORTRAN 77/95, CSS
          </p>

          <p class="resume-item-copy">
            <b>Familiarity</b>: ActionScript, Assembly, BASIC, C++, Haskell, Mathematica, ML, PHP, Prolog, Ruby, VB
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Natural</h3>
          
          <p class="resume-item-copy">
            English (native), German, Portuguese, Spanish
          </p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_talks %}

      <!-- begin Talks -->
      <section class="content-section">

        <header class="section-header">
          <h2>Selected Talks</h2>
        </header>
        <p class="resume-item-copy">
          <sup>†</sup>Invited talk
        </p>
        <br />
        
        <div class="resume-item">
          <h3 class="resume-item-title">Conferences</h3>
          
          <p class="resume-item-copy">
            <b>ERES-III: Emerging Researchers in Exoplanet Science</b><br />
            New Haven, CT, USA &bull; June 2017<br />
            <i>Fundamental Parameters of Exoplanet Host Stars with Asteroseismology</i>
          </p>
          
          <p class="resume-item-copy">
            <b>RR Lyrae 2015</b><br />
            Visegrád, Hungary &bull; October 2015<br />
            <i>Resolving combination frequency amplitudes of multi-mode pulsators</i>
          </p>
          
          <p class="resume-item-copy">
            <b>American Astronomical Society</b><br />
            Seattle, WA, USA &bull; January 2015<br />
            <i>Optimal Model Discovery of Periodic Variable Stars</i>
          </p>
          
          <p class="resume-item-copy">
            <b>National Conference on Undergraduate Research</b><br />
            Weber State University, Ogden, UT, USA &bull; March 2012<br />
            <i>Multiphase Relations of Cepheid Variable Stars in the Magellanic Clouds</i>
          </p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Workshops</h3>
          <p class="resume-item-copy">
            <sup>†</sup><b>6th Aarhus Workshop on Red Giant Branch Modelling</b><br />
            Max-Planck-Institut für Sonnensystemforschung, Göttingen, Germany &bull; May 2016<br />
            <i>Stellar Parameters in an Instant with Machine Learning</i>
          </p>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>Delhi Workshop on Variable Stars</b><br />
            University of Delhi, India &bull; January 2015<br />
            <i>Calibrating the Cepheid Distance Scale</i>
          </p>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>Kerala Workshop on Stellar Astrophysics</b><br />
            St. Thomas College, Kerala, India &bull; January 2014<br />
            <i>Automated Supervised Classification of Variable Stars</i>
          </p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Seminar Talks</h3>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>SAC Seminar</b><br />
            Stellar Astrophysics Centre, Aarhus University, Denmark &bull; January 2018<br />
            <i>Determining Stellar Structure with Asteroseismology Using Novel Techniques</i>
          </p>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>Madison Seminar</b><br />
            Department of Astronomy, University of Wisconsin–Madison &bull; November 2017<br />
            <i>From Starlight to Stellar Ages with Asteroseismology</i>
          </p>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>IMPRS Solar System School Seminar</b><br />
            Max Planck Institute for Solar System Research, Göttingen, Germany &bull; July 2017<br />
            <i>The Seismic Structures of Solar-Type Stars: Surmising the Speeds of Sound Inside 16 Cygni</i>
          </p>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>Yale Professional Seminar</b><br />
            Department of Astronomy, Yale University &bull; February 2017<br />
            <i>Celestial Chronometry: From Starlight to Stellar Ages</i>
          </p>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>IMPRS Solar System School Seminar</b><br />
            Max Planck Institute for Solar System Research, Göttingen, Germany &bull; January 2015<br />
            <i>Forward and Inverse Problems in Asteroseismology</i>
          </p>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>KUBIC-NII Joint Seminar on Bioinformatics</b><br />
            Kyoto University, Kyoto, Japan &bull; April 2013<br />
            <i>Asynchronous Updating in 1D Cellular Automata with Stochastic Perturbations</i>
          </p>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>MPS Seminar</b><br />
            Max Planck Institute for Solar System Research, Göttingen, Germany &bull; February 2015<br />
            <i>Resolving combination mode frequencies of multi-mode pulsators</i>
          </p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Public Lectures</h3>
          
          <p class="resume-item-copy">
            <sup>†</sup><b>Science Today</b><br />
            SUNY Oswego, NY, USA &bull; October 2016<br />
            <i>From Starlight to Stellar Ages: A Look Inside the Private Lives of Stars</i>
          </p>
          
          <p class="resume-item-copy">
            <b>Quest: Global Laboratory</b><br />
            SUNY Oswego, NY, USA &bull; April 2012<br />
            <i>Dynamics of Interacting Electrons in Disordered Systems</i>
          </p>
          
          <p class="resume-item-copy">
            <b>Quest: Neural Networks</b><br />
            SUNY Oswego, NY, USA &bull; April 2012<br />
            <i>Synapsolution: Producing Prodigies of Problem Solving</i>
          </p>
        </div>

      </section>
      <!-- end Talks -->
      {% endif %}



      {% if site.resume_section_posters %}
      <!-- begin Posters -->
      <section class="content-section">

        <header class="section-header">
          <h2>Selected Poster Presentations</h2>
        </header>

        <p class="resume-item-copy">
          <b>TASC3/KASC10 Workshop</b><br />
          University of Birmingham, England &bull; July 2017 <br />
          <i>The Seismic Structures of Solar-Type Stars: Surmising the Speed of Sound Inside 16 Cyg A</i>
        </p>
        
        <p class="resume-item-copy">
          <b>Joint TASC2 & KASC9 Workshop – SPACEINN & HELAS8 Conference</b><br />
          Angra do Heroísmo, Terceira-Açores, Portugal &bull; July 2016 <br />
          <i>Fundamental Parameters of Main-Sequence Stars in an Instant with Machine Learning</i>
        </p>
        
        <p class="resume-item-copy">
          <b>KASC8/TASC1 Workshop</b><br />
          Aarhus University, Aarhus, Denmark &bull; June 2015 <br />
          <i>GarsGen: An in-situ optimization algorithm for GARSTEC and ADIPLS stellar physics codes</i>
        </p>
        
        <p class="resume-item-copy">
          <b>20th Stellar Pulsation Conference</b><br />
          Granada, Spain &bull; September 2011 <br />
          <i>New insights into the Cepheid PL Relation through the use of multiphase relations</i>
        </p>
        
        <p class="resume-item-copy">
          <b>Sigma Xi Northeastern Research Symposium</b><br />
          Stony Brook University, New York, USA &bull; April 2011 <br />
          <i>Multiphase Comparison of PL and PW Relations for Magellanic Cloud Cepheids</i>
        </p>
        
        <p class="resume-item-copy">
          <b>American Astronomical Society</b><br />
          Seattle, WA, USA &bull; January 2011 <br />
          <i>Multiphase Comparison of PL/PC Relations</i>
        </p>
        
      </section>
      <!-- end Posters -->
      {% endif %}



      {% if site.resume_section_misc %}
      <!-- begin Misc -->
      <section class="content-section">

        <header class="section-header">
          <h2>Miscellaneous</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Summer Schools</h3>
          <p class="resume-item-copy">
            <b>MESA Summer School on Stellar Evolution</b><br />
            U.C. Santa Barbara, CA, USA &bull; 2016
          </p>
          
          <p class="resume-item-copy">
            <b>Azores International Advanced School in Space Sciences</b><br />
            Horta, Faial, Azores Islands, Portugal &bull; 2016
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Volunteering</h3>
          <p class="resume-item-copy">
            <b>St. Baldrick's Foundation</b><br />
            SUNY Oswego, NY, USA &bull; 2010, 2011<br />
            <i>Helped raise over $50,000 for research to find cures for childhood cancers.</i>
          </p>
          
          <p class="resume-item-copy">
            <b>Easy Street Horse & Barnyard Rescue</b><br />
            Amsterdam, NY, USA &bull; 2006 &mdash; 2010<br />
            <i>Provided care for horses with this IRS approved 501(c)(3) family-run charitable organization.</i>
          </p>
        </div>


        <div class="resume-item">
          <h3 class="resume-item-title">Music</h3>
          <p class="resume-item-copy">
            <b>MegaGauß</b><br />
            Göttingen, Germany &bull; 2015 &mdash; 2017<br />
            <i>Electric bass, guitar, ukulele, percussion</i>
          </p>

          <p class="resume-item-copy">
            <b>Tyler Hall Records</b><br />
            Oswego, NY, USA &bull; 2012
            <ul>
              <li>Well-Read Citizens &mdash; “Is This the Morning When We Wake Up?” (10-track LP)<br />
                  <i>Composer, co-producer, instrumentalist, and vocalist</i></li>
              <li>The Occupants &mdash; “The Occupied EP” (2-track EP)<br />
                  <i>Electric bass</i> </li>
            </ul>
          </p>
        </div>

      </section>
      <!-- end Misc -->
      {% endif %}



      {% if site.resume_section_awards %}
      <!-- begin Awards -->
      <section class="content-section">

        <header class="section-header">
          <h2>Grants, Honors & Awards</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Grants</h3>
           <p class="resume-item-copy">SUNY Oswego Student/Faculty Collaborative Challenge Grant &bull; 2012</p>
           <p class="resume-item-copy">National SMART Grant &bull; 2010, 2011 <i>(awarded twice)</i></p>
           <p class="resume-item-copy">National Academic Competitiveness Grant &bull; 2008 <i>(awarded twice)</i></p>
          <!--<p class="resume-item-copy"></p> <br />-->
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Scholarships and Fellowships</h3>
           <p class="resume-item-copy">National Physical Science Consortium Graduate Fellowship &bull; 2012 &mdash; 2017</p>
           <p class="resume-item-copy">Robert Brian Ellis Scholarship &bull; 2011</p>
           <p class="resume-item-copy">New York State Federation of Home Bureau Scholarship &bull; 2011</p>
           <p class="resume-item-copy" style="text-indent:-20px; margin-left:20px">National Science Foundation International Research Experience for Undergraduates / SUNY
Oswego Global Laboratory Scholarship &bull; 2010, 2011 <i>(awarded twice)</i></p>
           <p class="resume-item-copy">SUNY Oswego Presidential Scholarship &bull; 2008-2012 <i>(awarded four times)</i></p>
          <!--<h4 class="resume-item-details">2012 &mdash; 2014</h4>-->
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Awards</h3>
           <p class="resume-item-copy">Oebele Van Dyk Outstanding Computer Science Senior Award &bull; 2012</p>
           <p class="resume-item-copy">SUNY Chancellor’s Award for Student Excellence &bull; 2012</p>
        </div>

      </section>
      <!-- end Awards -->
      {% endif %}




      {% if site.resume_section_press %}
      <!-- begin Press -->
      <section class="content-section">

        <header class="section-header">
          <h2>Media & Press</h2>
        </header>
        
        <div class="resume-item">
          <p class="resume-item-copy">
            <b>Researchers measure the interior of two stars, find our models weren't quite right</b><br />
            <i>January 2018</i><br />
            Publication: <a href="http://iopscience.iop.org/article/10.3847/1538-4357/aa9848/meta">The Astrophysical Journal</a><br />
            Press release: <a href="https://www.mpg.de/11872053/internal-stellar-structure-asteroseismology">English</a>, <a href="https://www.mpg.de/11869082/innere-struktur-der-sterne">German</a> (Max Planck Society)<br />
            <ul class="myul">
              <li><a href="https://www.zmescience.com/science/news-science/seismic-measurements-star-03012017/">ZME Science</a></li><br />
              <li><a href="https://phys.org/news/2018-01-distant-suns-pulsations.html">phys.org</a></li><br />
              <li><a href="http://www.astronews.com/news/artikel/2017/12/1712-019.shtml">AstroNews</a> (German)</li><br />
              <li><a href="http://www.europapress.es/ciencia/astronomia/noticia-consiguen-determinar-estructura-profunda-dos-estrellas-20180103133619.html">Europa Press</a> (Spanish)</li><br />
              <li><a href="http://www.astronews.ru/cgi-bin/mng.cgi?page=news&amp;news=10532">astronews.ru</a> (Russian)</li><br />
              <li><a href="http://www.urania.edu.pl/wiadomosci/glebokie-spojrzenie-serca-gwiazd-4008.html">Urania - Postępy Astronomii</a> (Polish)</li><br />
              <li><a href="http://webcache.googleusercontent.com/search?q=cache:9pDtqsIyjM0J:www.pulskosmosu.pl/2018/01/03/badanie-wewnetrznej-budowy-odleglych-gwiazd-na-podstawie-ich-pulsacji/+&amp;cd=1&amp;hl=en&amp;ct=clnk&amp;gl=de">Pulskosmosu</a> (Polish)</li>
            </ul>
          </p><br />
          
          <p class="resume-item-copy">
            <b>Scientists measure ages of planet-hosting stars using artificial intelligence</b><br />
            <i>October 2016</i><br />
            Publication: <a href=http://iopscience.iop.org/article/10.3847/0004-637X/830/1/31/meta"">The Astrophysical Journal</a><br />
            Press release: <a href="http://www.mps.mpg.de/stellar-ages-in-seconds">English</a>, <a href="http://www.mps.mpg.de/Sternalter-in-Sekunden">German</a> (Max Planck Institute for Solar System Research)<br />
            <ul class="myul">
              <li><a href="http://www.spacedaily.com/reports/Stellar_ages_in_seconds_999.html">SpaceDaily</a></li><br />
              <li><a href="http://www.paneuropeannetworkspublications.com/ST19/#100">Pan European Networks: Science & Technology</a></li><br />
              <li><a href="http://www.astronews.com/news/artikel/2016/10/1610-005.shtml">AstroNews</a> (German)</li><br />
              <li><a href="http://www.hna.de/lokales/goettingen/goettingen-ort28741/goettinger-sternforscher-entwickeln-rechenhilfe-6829545.html">HNA</a> (Hessische/Niedersächsische Allgemeine, German)</li><br />
              <li><a href="http://www.stadtradio-goettingen.de/permalink_to?objid=e34357">StadtRadio Göttingen 107,eins</a> (German radio)</li><br />
              <li><a href="http://www.goettinger-tageblatt.de/Campus/Goettingen/Wissenschaftler-nutzen-kuenstliche-Intelligenz-zur-Altersbestimmung-von-Sternen">Göttinger Tageblatt</a> (German)</li>
            </ul>
          </p><br />

          <p class="resume-item-copy">
            <b>Stellar Astrophysicist Alumnus Returns to Campus, Shares Research</b><br />
            <i>October 2016</i><br />
            <ul class="myul">
              <li><a href="http://alumni.oswego.edu/s/1552/social.aspx?sid=1552&amp;gid=1&amp;pgid=2822&amp;cid=4818&amp;ecid=4818&amp;crid=0">Lake E-ffect</a></li><br />
              <li><a href="https://www.oswego.edu/news/story/star-suny-oswego-alumnus-returning-sept-29-astrophysics-talk">SUNY Oswego News</a></li>
            </ul>
          </p><br />

          <p class="resume-item-copy">
            <b>Oswego Experience Helped Launch Career</b><br />
            <i>December 2013</i><br />
            <ul class="myul">
              <li><a href="http://www.oswego.edu/magazine/2013/12/27/oswego-experience-helped-launch-career/">Oswego Magazine</a></li>
            </ul>
          </p><br />

          <p class="resume-item-copy">
            <b>NASA taps 3 for summer internships</b><br />
            <i>April 2013</i><br />
            <ul class="myul">
              <li><a href="http://www.oswegonian.com/2013/04/04/nasa-taps-3-for-summer-internships/">The Oswegonian</a></li><br />
              <li><a href="https://www.iheartoswego.com/nasas-jet-propulsion-lab-taps-three-more-suny-oswego-students.html">I Heart Oswego</a></li>
            </ul>
          </p><br />

          <p class="resume-item-copy">
            <b>Grant Supports Undergraduate Research in Brazil</b><br />
            <i>August 2011</i><br />
            <ul class="myul">
              <li><a href="http://www.oswego.edu/magazine/2011/08/24/grant-supports-undergraduate-research-in-brazil/">Oswego Magazine</a></li>
            </ul>
          </p>
        </div>

      </section>
      <!-- end Press -->
      {% endif %}



      <footer class="page-footer">
        <p class="footer-line">Earl Patrick Bellinger</p>
        <!--<p class="footer-line"><i>Photo credit to <a href="https://www.facebook.com/JakubOstrowskiPhotography">Jakub Ostrowski</a></i></p>-->
        <p class="footer-line"><i>Last updated: February 2018</i></p>
      </footer>

    </div>

  </body>

</html>
