<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <!--<a href="images/avatar.jpg"><img src="images/avatar-small.jpg" alt="my photo" class="avatar" itemprop="image"></a>-->
        <img src="images/avatar2.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p align="justify">Hello world! I am a graduate student in the Stellar Ages & Galactic Evolution (SAGE) group at the Max Planck Institute for Solar System Research and the Department of Astronomy at Yale University, where I am advised by Saskia Hekker and Sarbani Basu.</p>
          <p align="justify">My research focuses on measuring fundamental aspects of our universe, such as its age and its size, through the study of variable stars. </p>
          <p align="justify">My interests include asteroseismology, machine learning, and the history and philosophy of science. I am an advocate for open source and open science.</p>
          <p align="justify">I enjoy teaching and have had the privilege to assist in teaching courses at SUNY Oswego, Indiana University, and the University of Göttingen. In my free time, I like to compose music and play the guitar and drums.</p>
        </div>

        <div align="center">
          <table>
            <tr>
              <td>
                <a href="http://cs.oswego.edu/~ebelling/vitae.pdf" class="contact-button" target="new">PDF cv</a>
              </td>
              <td>
                &nbsp;&nbsp;&nbsp;
              </td>
              <td>
                <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
              </td>
            </tr>
          </table>
        </div>

      </header>

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">International Max Planck Research School</h3><!--Georg-August-Universität Göttingen, Germany</h3>-->
          <h4 class="resume-item-details" itemprop="description">Ph.D. &bull; 2015 &mdash; present</h4>
          <p class="resume-item-copy"><i>A collaboration between
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;(<b>1</b>) the Max Planck Institute for Solar System Research, Göttingen, Germany;
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;(<b>2</b>) the Department of Astronomy, Yale University, New Haven, CT, USA; and
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;(<b>3</b>) the Institute of Computer Science, University of Göttingen, Germany</i><br />
                                      Advised by Dr. ir. Saskia Hekker<sup>1</sup>, Prof. Dr. Sarbani Basu<sup>2</sup>, Dir. Prof. Dr. Laurent Gizon<sup>1</sup>, and<br />
                                      &nbsp;&nbsp;&nbsp;&nbsp;Prof. Dr. Ramin Yahyapour<sup>3</sup><br />
                                      Fellow of the National Physical Science Consortium<br />
                                	    <b>Thesis Topic</b>: <i>Asteroseismic Inversions of Solar-like Oscillators</i></p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Indiana University, Bloomington, IN, USA</h3>
          <h4 class="resume-item-details" itemprop="description">M.Sc. Computer Science &bull; 2012 &mdash; 2014</h4>
          <p class="resume-item-copy">Advised by Prof. Dr. Predrag Radivojac and Prof. Dr. Haixu Tang<br />
                                	    Fellow of the National Physical Science Consortium<br />
                                      GPA: 3.94/4.0</p>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">State University of New York at Oswego, USA</h3>
          <h4 class="resume-item-details" itemprop="description">B.Sc. Computer Science &bull; 2008 &mdash; 2012</h4>
          <h4 class="resume-item-details" itemprop="description">B.Sc. Applied Mathematics &bull; 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Advised by Prof. Dr. Shashi Kanbur and Prof. Dr. Steven Reyner<br />
                                	    Honors Thesis: <i>Multiphase Relations of Magellanic Cloud Cepheids</i><br />
                                      GPA: 3.81/4.0 (<i>summa cum laude</i>, Outstanding Computer Science Senior)</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}


      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Research Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Universities</h3>
          <p class="resume-item-copy"><b>Yale University</b> (2016 &mdash; present) <i>Asteroseismic inversions of solar-like stars.</i> Visiting Assistant in Research, New Haven, CT, USA.</p>
          <p class="resume-item-copy"><b>Indiana University Bloomington</b> (2013 &mdash; 2015) <i>Protein inference and quantification from tandem mass spectrometry.</i> Research Assistant, Bloomington, IN, USA.</p>
          <p class="resume-item-copy"><b>Federal University of Alagoas</b> (Summer 2011) <i>Dynamics of interacting electrons in disordered systems.</i> Research Student, Physics Institute, Maceió, Brazil.</p>
          
          <h3 class="resume-item-title" itemprop="name">National Laboratories</h3>
          <p class="resume-item-copy"><b>Max Planck Institute for Solar System Research</b> (2015 &mdash; present). <i>Fundamental stellar parameters in an instant with machine learning</i>. Ph.D. Candidate, Stellar Ages & Galactic Evolution Group, Göttingen, Germany.</p>
          <p class="resume-item-copy"><b>National Institute of Standards and Technology (NIST)</b> (Summers 2013, 2014, 2017). <i>HydratiCA Information Discoverer (HIDE), a data mining tool for 3D chemical simulations.</i> Guest Researcher, Information Technology Laboratory, Gaithersburg, MD, USA.</p>
          <p class="resume-item-copy"><b>National Center of Sciences</b> (Spring 2013). <i>Asynchronous updating in elementary cellular automata with stochastic perturbations.</i> Research Student, National Institute of Informatics (NII), Tokyo, Japan.</p>
          <p class="resume-item-copy"><b>National Aeronautics and Space Administration (NASA)</b> (Summer 2012). <i>CASSIUS, a communication tool for the Cassini mission to Saturn.</i> Summer Research Fellow, Jet Propulsion Laboratory (JPL), Pasadena, CA, USA.</p>
          <p class="resume-item-copy"><b>National Laboratory of Astrophysics</b> (Summer 2010). <i>Chimera: an automated observatory system.</i> Research Student, Itajubá, Brazil.</p>
      </div>
      </section>
      <!-- end Experience -->
      {% endif %}


      {% if site.resume_section_teaching %}
      <!-- begin Teaching -->
      <section class="content-section">

        <header class="section-header">
          <h2>Teaching Experience</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Yale University</h3>
          <h4 class="resume-item-details">Teaching Assistant, Department of Astronomy &bull; Spring 2017</h4>
          <p class="resume-item-copy">ASTR 550 &mdash; Stellar Astrophysics</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Georg-August-Universität Göttingen</h3>
          <h4 class="resume-item-details">Assistant, Fakultät Physik &bull; Summer 2016 </h4>
          <p class="resume-item-copy">M.Phy.55x.3C &mdash; Numerical Experiments in Stellar Physics</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Indiana University Bloomington</h3>
          <h4 class="resume-item-details">Associate Instructor, School of Informatics and Computing &bull; Fall 2012 </h4>
          <p class="resume-item-copy">CSCI-C211/A591 &mdash; Introduction to Computer Science</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">SUNY Oswego</h3>
          <h4 class="resume-item-details">Seminar Leader, Honors Program &bull; Fall 2010 </h4>
          <p class="resume-item-copy">HON 150 &mdash; Introduction to Honors</p>
        </div>

      </section>
      <!-- end Teaching -->
      {% endif %}


      {% if site.resume_section_publications %}
      <!-- begin Publications -->
      <section class="content-section">

        <header class="section-header">
          <h2>Publications</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Refereed Articles</h3>
          <!--<h4 class="resume-item-details">Refereed Articles</h4>-->
          <p class="resume-item-copy">
            <ol reversed>
              <li><b>Bellinger, E. P.</b>, Angelou, G., Hekker, S., Basu, S., Ball, W., Guggenberger, E. (2016). <a href="https://arxiv.org/abs/1607.02137">Fundamental Parameters of Main-Sequence Stars in an Instant with Machine Learning</a>. <i>The Astrophysical Journal</i>, 830 (1), 20.</li><br />
              <li>Guggenberger, E., Hekker, S., Basu, S., <b>Bellinger, E. P.</b> (2016). <a href="http://arxiv.org/abs/1606.01917">Significantly improving stellar mass and radius estimates: A new reference function for the Δν scaling relation</a>. <i>Monthly Notices of the Royal Astronomical Society</i>, 461 (2), doi: 10.1093/mnras/stw1326.</li><br />
              <li>Glover, M., <b>Bellinger, E. P.</b>, Radivojac, P., Clemmer, D. (2015). <a href="http://www.ncbi.nlm.nih.gov/pubmed/26192015">Penultimate Proline in Neuropeptides</a>. <i>Analytic Chemistry</i>, 87 (16), 8466–8472, doi: 10.1021/acs.analchem.5b01889.</li><br />
              <li>Ji, C., Li, Y. F., <b>Bellinger, E. P.</b>, Li, S., Arnold, R. J., Radivojac, P., Tang, H. (2015, September). <a href="http://dl.acm.org/citation.cfm?id=2808750">A maximum-likelihood approach to absolute protein quantification in mass spectrometry</a>. In <i>Proceedings of the 6th ACM Conference on Bioinformatics, Computational Biology and Health Informatics</i> (pp. 296-305).</li><br />
              <li>Ngeow, C. C., Kanbur, S. M., <b>Bellinger, E. P.</b>, Marconi, M., Musella, I., Cignoni, M., & Lin, Y. H. (2012). <a href="https://arxiv.org/abs/1202.0150">Period-luminosity relations for Cepheid variables: from mid-infrared to multi-phase</a>. <i>Astrophysics and Space Science</i>, 341(1), 105-113, doi: 10.1007/s10509-012-1018-5.</li><br />
            </ol>
          </p>

          <h3 class="resume-item-title">Conference Proceedings</h3>
          <!--<h4 class="resume-item-details">Conference Proceedings</h4>-->
          <p class="resume-item-copy">
            <ol reversed>
              <li><b>Bellinger, E. P.</b>, Angelou, G., Hekker, S., Basu, S., Ball, W., Guggenberger, E. (2016). Fundamental Parameters in an Instant with Machine Learning: Application to Kepler LEGACY Targets. <i>Seismology of the Sun and Distant Stars 2016</i>, submitted.</li><br />
              <li>Hekker, S., Elsworth, Y., Basu, S., <b>Bellinger, E. P.</b> (2016). Evolutionary states of red-giant stars from grid-based modelling. <i>Seismology of the Sun and Distant Stars 2016</i>, submitted.</li><br />
              <li><b>Bellinger, E. P.</b>, Wysocki, D., Kanbur, S. M. (2015). <a href="http://arxiv.org/abs/1512.00004">Measuring amplitudes of harmonics and combination frequencies in variable stars</a>. <i>Communications from the Konkoly Observatory of the Hungarian Academy of Sciences</i>, 105.</li><br />
              <li><b>Bellinger, E. P.</b>, Kanbur, S. M., & Ngeow, C. C. (2012). <a href="https://static-content.springer.com/esm/chp%3A10.1007%2F978-3-642-29630-7_53/MediaObjects/299986_1_En_53_MOESM13_ESM.pdf">New insights into the Cepheid PL Relation through the use of multiphase relations</a>. <i>Proceedings of the 20th Stellar Pulsations Conference</i>.</li><br />
              <li>Reyner, S., <b>Bellinger, E. P.</b>, & Kanbur, S. M. (2012). <a href="https://static-content.springer.com/esm/chp%3A10.1007%2F978-3-642-29630-7_53/MediaObjects/299986_1_En_53_MOESM44_ESM.pdf">The approximation of RR Lyrae and eclipsing binary light curves using cubic polynomials</a>. <i>Proceedings of the 20th Stellar Pulsations Conference</i>.</li><br />
              <li><b>Bellinger, E. P.</b> (2012). <a href="http://www.ncurproceedings.org/ojs/index.php/NCUR2012/article/view/300">Multiphase Relations of Magellanic Cloud Cepheids</a>. <i>Proceedings of the 2012 National Conference on Undergraduate Research</i>.</li><br />
              <li><b>Bellinger, E. P.</b>, Kanbur, S. M., & Ngeow, C. C. (2011). <a href="http://aspbooks.org/custom/publications/paper/451-0311.html">Multiphase Comparison of Period-Luminosity Relations for Magellanic Cloud Cepheids</a>. <i>Proceedings of the 9th Pacific Rim Conference on Stellar Astrophysics</i> (Vol. 451, p. 311).</li><br />
            </ol>
          </p>

          <h3 class="resume-item-title">Technical Reports</h3>
          <!--<h4 class="resume-item-details">Conference Proceedings</h4>-->
          <p class="resume-item-copy">
            <ol reversed>
              <li><b>Bellinger, E. P.</b>, Conner, D., Mittman, D., Magee, K., & Heventhal, B. (2012). <a href="http://trs-new.jpl.nasa.gov/dspace/handle/2014/43122">CASSIUS: the Cassini Uplink Scheduler</a>. <i>Jet Propulsion Laboratory: National Aeronautics and Space Administration</i>, hdl:2014/43122.</li>
            </ol>
          </p>
        </div>

        <div class="resume-item">
          <!--<h3 class="resume-item-title"></h3>
          <h4 class="resume-item-details"></h4>-->
          <p class="resume-item-copy"></p>
        </div>

      </section>
      <!-- end Publications -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Programming Languages</h3>

          <h4 class="resume-item-details">Expertise (active daily use)</h4>
          <p class="resume-item-copy">R, Python2/3, Bash, LaTeX, HTML</p> <br />

          <h4 class="resume-item-details">Proficiency (>10k LOC)</h4>
          <p class="resume-item-copy">CLISP, Scheme, Java, MATLAB, SQL, CSS</p>  <br />

          <h4 class="resume-item-details">Familiarity (some small projects)</h4>
          <p class="resume-item-copy">ActionScript, Assembly, BASIC, C, C++, FORTRAN 77/90/95/2008, Haskell, Javascript, Mathematica, ML, Perl, PHP, Prolog, Ruby</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Natural Languages</h3>
          <p class="resume-item-copy">English (native), German, Portuguese, Spanish</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_talks %}

      <!-- begin Talks -->
      <section class="content-section">

        <header class="section-header">
          <h2>Selected Talks</h2>
        </header>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Conferences</h3>
          <p class="resume-item-copy">
            <ol reversed>
              <li><b>RR Lyrae</b> (October 2015). <i>Resolving combination frequency amplitudes of multi-mode pulsators.</i> Visegrád, Hungary.</li>
              <li><b>American Astronomical Society</b> (January 2015). <i>Optimal Model Discovery of Periodic Variable Stars.</i> Seattle, WA, USA.</li>
              <li><b>National Conference on Undergraduate Research</b> (March 2012). <i>Multiphase Relations of Cepheid Variable Stars in the Magellanic Clouds.</i> Weber State University, Ogden, UT, USA.</li>
            </ol>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Workshops</h3>
          <p class="resume-item-copy">
            <ol reversed>
              <li><b>Delhi Workshop on Variable Stars</b> (January 2015). <i>Calibrating the Cepheid Distance Scale.</i> University of Delhi, India.</li>
              <li><b>Kerala Workshop on Stellar Astrophysics</b> (January 2014). <i>Automated Supervised Classification of Variable Stars.</i> St. Thomas College, Kerala, India.</li>
              <li><b>KUBIC-NII Joint Seminar on Bioinformatics</b> (April 2013). <i>Asynchronous Updating in 1D Cellular Automata with Stochastic Perturbations.</i> Kyoto University, Kyoto, Japan.</li>
            </ol>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Public Lectures</h3>
          <ol reversed>
              <li><b>Science Today</b> (October</b> 2016). <i>From Starlight to Stellar Ages: A Look Inside the Private Lives of Stars.</i> SUNY Oswego, NY, USA.</li>
              <li><b>Quest: Global Laboratory</b> (April 2012). <i>Dynamics of Interacting Electrons in Disordered Systems.</i> Oswego, NY, USA.</li>
              <li><b>Quest: Neural Networks</b> (April 2012). <i>Synapsolution: Producing Prodigies of Problem Solving.</i> Oswego, NY, USA.</li>
          </ol>
        </div>

      </section>
      <!-- end Talks -->
      {% endif %}



      {% if site.resume_section_posters %}
      <!-- begin Posters -->
      <section class="content-section">

        <header class="section-header">
          <h2>Selected Poster Presentations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Joint TASC2 & KASC9 Workshop – SPACEINN & HELAS8 Conference</h3>
          <h4 class="resume-item-details">Angra do Heroísmo, Terceira-Açores, Portugal &bull; July 2016</h4>
          <p class="resume-item-copy"><i>Fundamental Parameters of Main-Sequence Stars in an Instant with Machine Learning</i></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">KASC8/TASC1 Workshop</h3>
          <h4 class="resume-item-details">Aarhus University, Aarhus, Denmark &bull; June 2015</h4>
          <p class="resume-item-copy"><i>GarsGen: An in-situ optimization algorithm for GARSTEC and ADIPLS stellar physics codes</i></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">20th Stellar Pulsation Conference</h3>
          <h4 class="resume-item-details">Granada, Spain &bull; September 2011</h4>
          <p class="resume-item-copy"><i>New insights into the Cepheid PL Relation through the use of multiphase relations</i></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Sigma Xi Northeastern Research Symposium</h3>
          <h4 class="resume-item-details">Stony Brook University, New York, USA &bull; April 2011</h4>
          <p class="resume-item-copy"><i>Multiphase Comparison of PL and PW Relations for Magellanic Cloud Cepheids</i></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">American Astronomical Society</h3>
          <h4 class="resume-item-details">Seattle, WA, USA &bull; January 2011</h4>
          <p class="resume-item-copy"><i>Multiphase Comparison of PL/PC Relations</i></p>
        </div>

      </section>
      <!-- end Posters -->
      {% endif %}



      {% if site.resume_section_misc %}
      <!-- begin Misc -->
      <section class="content-section">

        <header class="section-header">
          <h2>Miscellaneous</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Summer Schools</h3>
          <h4 class="resume-item-details">MESA Summer School on Stellar Evolution &bull; 2016</h4>
          <p class="resume-item-copy">U.C. Santa Barbara, CA, USA</p> <br />

          <h4 class="resume-item-details">Azores International Advanced School in Space Sciences &bull; 2016</h4>
          <p class="resume-item-copy">Horta, Faial, Azores Islands, Portugal</p> <br />
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Volunteering</h3>
          <h4 class="resume-item-details">St. Baldrick's Foundation &bull; 2010, 2011</h4>
          <p class="resume-item-copy">Helped raise over $50,000 for research to find cures for childhood cancers.</p> <br />

          <h4 class="resume-item-details">Easy Street Horse & Barnyard Rescue &bull; 2006 &mdash; 2010</h4>
          <p class="resume-item-copy">Provided care for horses with this IRS approved 501(c)(3) family-run charitable organization.</p> <br />
        </div>


        <div class="resume-item">
          <h3 class="resume-item-title">Music</h3>
          <h4 class="resume-item-details">MegaGauß &bull; 2015 &mdash; 2016</h4>
          <p class="resume-item-copy">Band leader and eletric bass player of 12-member ensemble</p> <br />

          <h4 class="resume-item-details">Tyler Hall Records &bull; 2012</h4>
          <p class="resume-item-copy">
            <ol reversed>
              <li>Well-Read Citizens &mdash; “Is This the Morning When We Wake Up?” <br /> 10-track LP <i>(Composer, co-producer, instrumentalist, and vocalist)</i> </li>
              <li>The Occupants &mdash; “The Occupied EP” <br /> 2-track EP <i>(Electric bass)</i> </li>
            </ol>
          </p>
        </div>

      </section>
      <!-- end Misc -->
      {% endif %}



      {% if site.resume_section_awards %}
      <!-- begin Awards -->
      <section class="content-section">

        <header class="section-header">
          <h2>Grants, Honors & Awards</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Grants</h3>
           <p class="resume-item-copy">SUNY Oswego Student/Faculty Collaborative Challenge Grant &bull; 2012</p>
           <p class="resume-item-copy">National SMART Grant &bull; 2010, 2011 <i>(awarded twice)</i></p>
           <p class="resume-item-copy">National Academic Competitiveness Grant &bull; 2008 <i>(awarded twice)</i></p>
          <!--<p class="resume-item-copy"></p> <br />-->
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Scholarships and Fellowships</h3>
           <p class="resume-item-copy">National Physical Science Consortium Graduate Fellowship &bull; 2012 &mdash; 2017</p>
           <p class="resume-item-copy">Robert Brian Ellis Scholarship &bull; 2011</p>
           <p class="resume-item-copy">New York State Federation of Home Bureau Scholarship &bull; 2011</p>
           <p class="resume-item-copy" style="text-indent:-20px; margin-left:20px">National Science Foundation International Research Experience for Undergraduates / SUNY
Oswego Global Laboratory Scholarship &bull; 2010, 2011 <i>(awarded twice)</i></p>
           <p class="resume-item-copy">SUNY Oswego Presidential Scholarship &bull; 2008-2012 <i>(awarded four times)</i></p>
          <!--<h4 class="resume-item-details">2012 &mdash; 2014</h4>-->
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Awards</h3>
           <p class="resume-item-copy">Oebele Van Dyk Outstanding Computer Science Senior Award &bull; 2012</p>
           <p class="resume-item-copy">SUNY Chancellor’s Award for Student Excellence &bull; 2012</p>
        </div>

      </section>
      <!-- end Awards -->
      {% endif %}




      {% if site.resume_section_press %}
      <!-- begin Press -->
      <section class="content-section">

        <header class="section-header">
          <h2>Press</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Web</h3>
            <p class="resume-item-copy">
              <ol reversed>
                <li><a href="http://alumni.oswego.edu/s/1552/social.aspx?sid=1552&gid=1&pgid=2822&cid=4818&ecid=4818&crid=0">Stellar Astrophysicist Alumnus Returns to Campus, Shares Research</a>. <i>Lake E-ffect</i>, Oct 25, 2016.</li>
                <li><a href="http://www.spacedaily.com/reports/Stellar_ages_in_seconds_999.html">Stellar ages in seconds</a>. <i>SpaceDaily</i>, Oct 12, 2016.</li>
                <li><a href="http://www.astronews.com/news/artikel/2016/10/1610-005.shtml">Altersbestimmung mit künstlicher Intelligenz</a>. <i>AstroNews</i>, Oct 7, 2016.</li>
                <li><a href="http://www.mps.mpg.de/Sternalter-in-Sekunden">Sternalter in Sekunden</a>. <i>Max-Planck-Institut für Sonnensystemforschung</i>, Oct 6, 2016.</li>
                <li><a href="http://www.mps.mpg.de/stellar-ages-in-seconds">Stellar ages in seconds</a>. <i>Max Planck Institute for Solar System Research</i>, Oct 6, 2016.</li>
                <li><a href="http://www.oswego.edu/news/index.php/site/news_story/bellinger_talk">Star SUNY Oswego alumnus returning Sept. 29 for astrophysics talk</a>. <i>SUNY Oswego</i>, Sep 14, 2016.</li> 
                <li><a href="http://www.oswego.edu/news/index.php/site/news_story/jpl_interns">NASA's Jet Propulsion Lab taps three more Oswego students</a>. <i>SUNY Oswego</i>, Mar 28, 2013.</li>
                <li><a href="http://www.oswego.edu/news/index.php/site/news_story/class_of_2012">SUNY Oswego students prepare for next steps after May graduation</a>. <i>SUNY Oswego</i>, May 1, 2012.</li>
              </ol>
            </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Newspaper</h3>
           <p class="resume-item-copy">
             <ol reversed>
               <li><a href="http://www.hna.de/lokales/goettingen/goettingen-ort28741/goettinger-sternforscher-entwickeln-rechenhilfe-6829545.html">Göttinger Sternforscher entwickeln Rechenhilfe</a>. <i>Hessische/Niedersächsische Allgemeine (HNA)</i>, Oct 11, 2016.</li>
               <li><a href="http://www.goettinger-tageblatt.de/Campus/Goettingen/Wissenschaftler-nutzen-kuenstliche-Intelligenz-zur-Altersbestimmung-von-Sternen">Sternalter in Sekunden</a>. <i>Göttinger Tageblatt</i>, Oct 10, 2016.</li>
               <li><a href="http://www.oswego.edu/magazine/2013/12/27/oswego-experience-helped-launch-career/">Oswego Experience Helped Launch Career</a>. <i>Oswego Magazine</i>, Dec 27, 2013.</li>
               <li><a href="http://www.oswego.edu/magazine/2011/08/24/grant-supports-undergraduate-research-in-brazil/">Grant Supports Undergraduate Research in Brazil</a>. <i>Oswego Magazine</i>, Aug 24, 2011.</li>
             </ol>
           </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Radio</h3>
           <p class="resume-item-copy">
             <ol reversed>
               <li><a href="http://www.stadtradio-goettingen.de/redaktion/nachrichten/max_planck_institut_schnellere_altersbestimmung_von_sternen_dank_kuenstlicher_intelligenz/index_ger.html">Max-Planck-Institut: Schnellere Altersbestimmung von Sternen dank künstlicher Intelligenz</a>. <i>StadtRadio Göttingen 107,eins</i>, Oct 10, 2016.</li>
             </ol>
           </p>
        </div>

      </section>
      <!-- end Press -->
      {% endif %}



      <footer class="page-footer">
        <p class="footer-line">Earl Patrick Bellinger</p>
        <!--<p class="footer-line"><i>Photo credit to <a href="https://www.facebook.com/JakubOstrowskiPhotography">Jakub Ostrowski</a></i></p>-->
        <p class="footer-line"><i>Last updated: October 2016</i></p>
      </footer>

    </div>

  </body>

</html>
